*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Poppins";
    src: url("./Fonts/Poppins-Regular.ttf"), format("truetype");
}

body{
    font-family: "Poppins";
    background-color: #f5f5f5;
}

img {
    border-style: none;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

a {
    background-color: transparent;
    text-decoration: none;
    color: inherit;
    margin: 0;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}


.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}




/* Header */

.head_container{
    background-color: #f44336;
}
.header_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.header_top_btn{
    background: #0000001a;
    padding: 0.4rem 0.6rem;
}

.header_top_list{

}

.header_top_link{
    margin-left: 0.5rem;
}

.header_top_link:hover{
    color: #000;
}

.header_bottom{
    margin-top: 1rem;
    padding-bottom: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_bottom_searchbar{
    height: 38px;
    width: 500px;
    border: none;
    outline: none;
}

.header_bottom_searchbar:placeholder-shown{
    font-size: 0.8rem;
    padding: 2px 60px 0 15px;
    color: #7D7C7C;
}
.header_bottom_searchbar:focus{
    outline: none;
}

.header_bottom_Rightlogo{
    margin-right: 10rem;
    display: grid;
    grid-template-columns: auto auto;
}

.header_bottom_Rightlogo_p{
    color: #fff;
    font-size: 14px;
    margin-left: 0.5rem;
    text-transform: uppercase;
    font-weight: 600;
}

/* Main */

.categories{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.categories_p{
    background-color: #222;
    color: #fff;
    text-transform: uppercase;
    padding: 12px 150px 10px 30px;
    text-align: left;
    cursor: pointer;
}
.categories_list{
    display: grid;
    grid-template-columns: repeat(6,auto);
    grid-gap: 2rem;

}

.categories_item{
    text-transform: uppercase;
    padding: 0rem 0.5rem;
    font-weight: 600;
    font-size: 12px;
    cursor: pointer;
}

.categories_item:hover{
    color: none;
    color: #f44336;
}

.categories_item:first-child{
    margin-left: 1rem;
}

.categories{
    position: relative;
}

.categories_l{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: 276px;
    position: absolute;
    top:100%;
    visibility: hidden;
}

.categories_li{
    padding: 1.5rem 1rem;
    border-bottom: 1px solid rgba(164, 163, 159, 0.2);
    color: #666;
    font-size: 12px;
    font-weight: 400;
}

.categories_title:hover .categories_l,
.categories_l:hover {
    visibility: visible;
    background-color: #fff;
}

.categories_li:hover{
    color: #f44336;
}

.baner{
    width: 1520px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    
}

.baner_img{
    margin: 0rem;
}

/* First box */

.firstProductBox{
    border-top: 4px solid #f44336;
    background-color: #fff;
}

.firstProductBox_title{
    color: #f44336;
    font-family: Rhodium Libre;
    grid-area: "title";
    padding: 1.5rem;
}

.firstProductBox_proList{
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
}

.firstProductBox_pro{
    border-top: 1px solid rgba(164, 163, 159, 0.2);
    border-bottom: 1px solid rgba(164, 163, 159, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 300px;

    padding: 0.5rem 1.5rem;
}

.pro1,
.pro2,
.pro3{
    border-right: 1px solid rgba(164, 163, 159, 0.2);
}

.firstProductBox_pro_img{
    margin: 0px;
    max-width: 100%;
}

.firstProductBox_pro_p{
    font-size: 12px;
    font-weight: 800;
}

.firstProductBox_pro_price{
    color: #f44336;
    font-size: 12px;
    font-weight: 600;
    margin-top: 2.5rem;
    align-self: first baseline;
}


/* Second box */

.secProductBox{
    display: flex;
    flex-direction: row;
    background-color: #fff;
    margin-bottom: 2.5rem;
}

.secProductBox_left{
   width: 200px;
   border-top: 3px solid #f44336;

   padding-left: 2rem;
}

.secProductBox_title{
    color: #f44336;
    font-family: Rhodium Libre;
    text-transform: uppercase;
    width: 8.5rem;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    border-bottom: 1px solid #e6e6e6;
    margin-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.secProductBox_list{
    display: flex;
    flex-direction: column;
}

.secProductBox_listLink{
    margin-top: 1.5rem;
    font-size: 13px;
    color: #555;
}

.secProductBox_listLink:hover{
    color: #f44336;
}


.secProductBox_pro{
    display: flex;
    flex-direction: column;
    width: auto;

}

.secProductBox_top{
    display: flex;
}
    

.secProductBox_topPro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 250px;

    overflow: hidden;
    border-top: 1px solid rgba(164, 163, 159, 0.2);
    border-right: 1px solid rgba(164, 163, 159, 0.2);

    padding: 0rem 0.5rem;
}

.topPro1{
    border-left: 1px solid rgba(164, 163, 159, 0.2);
}

.secProductBox_topPro_img{
    max-width: 100%;
    vertical-align: middle;
}

.secProductBox_topPro_p{
    color: #000;
    font-size: 12px;
    font-family: Poppins;
    font-weight: 600;
    text-decoration: none;
    line-height: 20px;
    margin-top: 1rem;
}

.secProductBox_topPro_price{
    color: #f44336;
    font-size: 12px;
    font-weight: 600;
    margin-top: 2.5rem;
    align-self: first baseline;

}

.secProductBox_bottomPro{
    display: flex;
    flex-direction: row;
}

.secProductBox_bottomPro_left{
    width: 500px;
}

.secProductBox_bottomPro_right{
    width: 500px;
}

.secProductBox_bottomPro_leftImg{
    width: 500px;
}

.secProductBox_bottomPro_rightImg{
    width: 500px;
    border-right: 1px solid rgba(164, 163, 159, 0.2);
}


/* Third box  */

.thirdProductBox{
    display: flex;
    flex-direction: row;
    background-color: #fff;
    margin-bottom: 2.5rem;
}

.thirdProductBox_left{
   width: 200px;
   border-top: 3px solid #3f51b5;

   padding-left: 2rem;
}

.thirdProductBox_title{
    color: #3f51b5;
    font-family: Rhodium Libre;
    text-transform: uppercase;
    width: 8.5rem;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    border-bottom: 1px solid #e6e6e6;
    margin-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.thirdProductBox_list{
    display: flex;
    flex-direction: column;
}

.thirdProductBox_listLink{
    margin-top: 1.5rem;
    font-size: 13px;
    color: #555;
}

.thirdProductBox_listLink:hover{
    color: #f44336;
}


.thirdProductBox_pro{
    display: flex;
    flex-direction: column;
    width: auto;

}

.thirdProductBox_top{
    display: flex;
}
    

.thirdProductBox_topPro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 250px;

    overflow: hidden;
    border-top: 1px solid rgba(164, 163, 159, 0.2);
    border-right: 1px solid rgba(164, 163, 159, 0.2);

    padding: 0rem 0.5rem;
}

.topPro1{
    border-left: 1px solid rgba(164, 163, 159, 0.2);
}

.thirdProductBox_topPro_img{
    max-width: 100%;
    vertical-align: middle;
}

.thirdProductBox_topPro_p{
    color: #000;
    font-size: 12px;
    font-family: Poppins;
    font-weight: 600;
    text-decoration: none;
    line-height: 20px;
    margin-top: 1rem;
}

.thirdProductBox_topPro_price{
    color: #f44336;
    font-size: 12px;
    font-weight: 600;
    margin-top: 2.5rem;
    align-self: first baseline;

}

.thirdProductBox_bottomPro{
    display: flex;
    flex-direction: row;
}



.thirdProductBox_bottomProImg{
    width: 1000px;
    height: 280px;
}


/* Fourth box  */

.forthProductBox{
    display: flex;
    flex-direction: row;
    background-color: #fff;
    margin-bottom: 2.5rem;
}

.forthProductBox_left{
   width: 200px;
   border-top: 3px solid #03a9f5;

   padding-left: 2rem;
}

.forthProductBox_title{
    color: #03a9f5;
    font-family: Rhodium Libre;
    text-transform: uppercase;
    width: 8.5rem;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    border-bottom: 1px solid #e6e6e6;
    margin-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.forthProductBox_list{
    display: flex;
    flex-direction: column;
}

.forthProductBox_listLink{
    margin-top: 1.5rem;
    font-size: 13px;
    color: #555;
}

.forthProductBox_listLink:hover{
    color: #f44336;
}


.forthProductBox_pro{
    display: flex;
    flex-direction: column;
    width: auto;

}

.forthProductBox_top{
    display: flex;
}
    

.forthProductBox_topPro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 250px;

    overflow: hidden;
    border-top: 1px solid rgba(164, 163, 159, 0.2);
    border-right: 1px solid rgba(164, 163, 159, 0.2);

    padding: 0rem 0.5rem;
}

.topPro1{
    border-left: 1px solid rgba(164, 163, 159, 0.2);
}

.forthProductBox_topPro_img{
    max-width: 100%;
    vertical-align: middle;
}

.forthProductBox_topPro_p{
    color: #000;
    font-size: 12px;
    font-family: Poppins;
    font-weight: 600;
    text-decoration: none;
    line-height: 20px;
    margin-top: 1rem;
}

.forthProductBox_topPro_price{
    color: #f44336;
    font-size: 12px;
    font-weight: 600;
    margin-top: 2.5rem;
    align-self: first baseline;

}

.forthProductBox_bottomPro{
    display: flex;
    flex-direction: row;
}

.forthProductBox_bottomPro_left{
    width: 500px;
}

.forthProductBox_bottomPro_right{
    width: 500px;
}

.forthProductBox_bottomPro_leftImg{
    width: 500px;
}

.forthProductBox_bottomPro_rightImg{
    width: 500px;
    border-right: 1px solid rgba(164, 163, 159, 0.2);
}


/* Fiveth box */

.fivethProductBox{
    display: flex;
    flex-direction: row;
    background-color: #fff;
    margin-bottom: 2.5rem;
}

.fivethProductBox_left{
   width: 200px;
   border-top: 3px solid #8cc34b;

   padding-left: 2rem;
}

.fivethProductBox_title{
    color: #8cc34b;
    font-family: Rhodium Libre;
    text-transform: uppercase;
    width: 8.5rem;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    border-bottom: 1px solid #e6e6e6;
    margin-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.fivethProductBox_list{
    display: flex;
    flex-direction: column;
    padding-right: 35px;
}

.fivethProductBox_listLink{
    margin-top: 1.5rem;
    font-size: 13px;
    color: #555;
}

.fivethProductBox_listLink:hover{
    color: #f44336;
}


.fivethProductBox_pro{
    display: flex;
    flex-direction: column;
    width: auto;

}

.fivethProductBox_top{
    display: flex;
}
    

.fivethProductBox_topPro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 250px;

    overflow: hidden;
    border-top: 1px solid rgba(164, 163, 159, 0.2);
    border-right: 1px solid rgba(164, 163, 159, 0.2);

    padding: 0rem 0.5rem;
}

.topPro1{
    border-left: 1px solid rgba(164, 163, 159, 0.2);
}

.fivethProductBox_topPro_img{
    max-width: 100%;
    vertical-align: middle;
}

.fivethProductBox_topPro_p{
    color: #000;
    font-size: 12px;
    font-family: Poppins;
    font-weight: 600;
    text-decoration: none;
    line-height: 20px;
    margin-top: 1rem;
}

.fivethProductBox_topPro_price{
    color: #f44336;
    font-size: 12px;
    font-weight: 600;
    margin-top: 2.5rem;
    align-self: first baseline;

}

.fivethProductBox_bottomPro{
    display: flex;
    flex-direction: row;
}



.fivethProductBox_bottomProImg{
    width: 1000px;
    height: 280px;
}

/* Sixth box */

.sixthProductBox{
    display: flex;
    flex-direction: row;
    background-color: #fff;
    margin-bottom: 2.5rem;
}

.sixthProductBox_left{
   width: 200px;
   border-top: 3px solid #ffe035;

   padding-left: 2rem;
}

.sixthProductBox_title{
    color: #ffe035;
    font-family: Rhodium Libre;
    text-transform: uppercase;
    width: 8.5rem;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    border-bottom: 1px solid #e6e6e6;
    margin-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.sixthProductBox_list{
    display: flex;
    flex-direction: column;
}

.sixthProductBox_listLink{
    margin-top: 1.5rem;
    font-size: 13px;
    color: #555;
}

.sixthProductBox_listLink:hover{
    color: #f44336;
}


.sixthProductBox_pro{
    display: flex;
    flex-direction: column;
    width: auto;

}

.sixthProductBox_top{
    display: flex;
}
    

.sixthProductBox_topPro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 250px;

    overflow: hidden;
    border-top: 1px solid rgba(164, 163, 159, 0.2);
    border-right: 1px solid rgba(164, 163, 159, 0.2);

    padding: 0rem 0.5rem;
}

.topPro1{
    border-left: 1px solid rgba(164, 163, 159, 0.2);
}

.sixthProductBox_topPro_img{
    max-width: 100%;
    vertical-align: middle;
}

.sixthProductBox_topPro_p{
    color: #000;
    font-size: 12px;
    font-family: Poppins;
    font-weight: 600;
    text-decoration: none;
    line-height: 20px;
    margin-top: 1rem;
}

.sixthProductBox_topPro_price{
    color: #f44336;
    font-size: 12px;
    font-weight: 600;
    margin-top: 2.5rem;
    align-self: first baseline;

}

.sixthProductBox_bottomPro{
    display: flex;
    flex-direction: row;
}

.sixthProductBox_bottomPro_left{
    width: 500px;
}

.sixthProductBox_bottomPro_right{
    width: 500px;
}

.sixthProductBox_bottomPro_leftImg{
    width: 500px;
}

.sixthProductBox_bottomPro_rightImg{
    width: 500px;
    border-right: 1px solid rgba(164, 163, 159, 0.2);
}



/* Seventh box */

.seventhProductBox{
    display: flex;
    flex-direction: row;
    background-color: #fff;
    margin-bottom: 2.5rem;
}

.seventhProductBox_left{
   width: 200px;
   border-top: 3px solid #ff9801;

   padding-left: 2rem;
}

.seventhProductBox_title{
    color: #ff9801;
    font-family: Rhodium Libre;
    text-transform: uppercase;
    width: 8.5rem;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    border-bottom: 1px solid #e6e6e6;
    margin-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.seventhProductBox_list{
    display: flex;
    flex-direction: column;
    padding-right: 35px;
}

.seventhProductBox_listLink{
    margin-top: 1.5rem;
    font-size: 13px;
    color: #555;
}

.seventhProductBox_listLink:hover{
    color: #f44336;
}


.seventhProductBox_pro{
    display: flex;
    flex-direction: column;
    width: auto;

}

.seventhProductBox_top{
    display: flex;
}
    

.seventhProductBox_topPro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 250px;

    overflow: hidden;
    border-top: 1px solid rgba(164, 163, 159, 0.2);
    border-right: 1px solid rgba(164, 163, 159, 0.2);

    padding: 0rem 0.5rem;
}

.topPro1{
    border-left: 1px solid rgba(164, 163, 159, 0.2);
}

.seventhProductBox_topPro_img{
    max-width: 100%;
    vertical-align: middle;
}

.seventhProductBox_topPro_p{
    color: #000;
    font-size: 12px;
    font-family: Poppins;
    font-weight: 600;
    text-decoration: none;
    line-height: 20px;
    margin-top: 1rem;
}

.seventhProductBox_topPro_price{
    color: #f44336;
    font-size: 12px;
    font-weight: 600;
    margin-top: 2.5rem;
    align-self: first baseline;

}

.seventhProductBox_bottomPro{
    display: flex;
    flex-direction: row;
}



.seventhProductBox_bottomProImg{
    width: 1000px;
    height: 280px;
}

/* Eighth box  */

.eighthProductBox{
    display: flex;
    flex-direction: row;
    background-color: #fff;
    margin-bottom: 2.5rem;
}

.eighthProductBox_left{
   width: 200px;
   border-top: 3px solid #7a564a;

   padding-left: 2rem;
}

.eighthProductBox_title{
    color: #7a564a;
    font-family: Rhodium Libre;
    text-transform: uppercase;
    width: 8.5rem;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    border-bottom: 1px solid #e6e6e6;
    margin-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.eighthProductBox_list{
    display: flex;
    flex-direction: column;
}

.eighthProductBox_listLink{
    margin-top: 1.5rem;
    font-size: 13px;
    color: #555;
}

.eighthProductBox_listLink:hover{
    color: #f44336;
}


.eighthProductBox_pro{
    display: flex;
    flex-direction: column;
    width: auto;

}

.eighthProductBox_top{
    display: flex;
}
    

.eighthProductBox_topPro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 250px;

    overflow: hidden;
    border-top: 1px solid rgba(164, 163, 159, 0.2);
    border-right: 1px solid rgba(164, 163, 159, 0.2);

    padding: 0rem 0.5rem;
}

.topPro1{
    border-left: 1px solid rgba(164, 163, 159, 0.2);
}

.eighthProductBox_topPro_img{
    max-width: 100%;
    vertical-align: middle;
}

.eighthProductBox_topPro_p{
    color: #000;
    font-size: 12px;
    font-family: Poppins;
    font-weight: 600;
    text-decoration: none;
    line-height: 20px;
    margin-top: 1rem;
}

.eighthProductBox_topPro_price{
    color: #f44336;
    font-size: 12px;
    font-weight: 600;
    margin-top: 2.5rem;
    align-self: first baseline;

}

.eighthProductBox_bottomPro{
    display: flex;
    flex-direction: row;
}

.eighthProductBox_bottomPro_left{
    width: 500px;
}

.eighthProductBox_bottomPro_right{
    width: 500px;
}

.eighthProductBox_bottomPro_leftImg{
    width: 500px;
}

.eighthProductBox_bottomPro_rightImg{
    width: 500px;
    border-right: 1px solid rgba(164, 163, 159, 0.2);
}

/* Ninth box  */

.ninthProductBox{
    display: flex;
    flex-direction: row;
    background-color: #fff;
    margin-bottom: 2.5rem;
}

.ninthProductBox_left{
   width: 200px;
   border-top: 3px solid #00968a;

   padding-left: 2rem;
}

.ninthProductBox_title{
    color: #00968a;
    font-family: Rhodium Libre;
    text-transform: uppercase;
    width: 8.5rem;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    border-bottom: 1px solid #e6e6e6;
    margin-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.ninthProductBox_list{
    display: flex;
    flex-direction: column;
    padding-right: 35px;
}

.ninthProductBox_listLink{
    margin-top: 1.5rem;
    font-size: 13px;
    color: #555;
}

.ninthProductBox_listLink:hover{
    color: #f44336;
}


.ninthProductBox_pro{
    display: flex;
    flex-direction: column;
    width: auto;

}

.ninthProductBox_top{
    display: flex;
}
    

.ninthProductBox_topPro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 250px;

    overflow: hidden;
    border-top: 1px solid rgba(164, 163, 159, 0.2);
    border-right: 1px solid rgba(164, 163, 159, 0.2);

    padding: 0rem 0.5rem;
}

.topPro1{
    border-left: 1px solid rgba(164, 163, 159, 0.2);
}

.ninthProductBox_topPro_img{
    max-width: 100%;
    vertical-align: middle;
}

.ninthProductBox_topPro_p{
    color: #000;
    font-size: 12px;
    font-family: Poppins;
    font-weight: 600;
    text-decoration: none;
    line-height: 20px;
    margin-top: 1rem;
}

.ninthProductBox_topPro_price{
    color: #f44336;
    font-size: 12px;
    font-weight: 600;
    margin-top: 2.5rem;
    align-self: first baseline;

}

.ninthProductBox_bottomPro{
    display: flex;
    flex-direction: row;
}



.ninthProductBox_bottomProImg{
    width: 1000px;
    height: 280px;
}

/* Footer  */

.footer_container{
    width: 1521px;
    background-color: #fff;
}

.footer_box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.footer_blog{
    width: 100%;
    border-right: 1px solid rgba(164, 163, 159, 0.2);
    padding: 4rem 0;
}

.footer_blog_title{
    font-family: Rhodium Libre;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.footer_blog_link{
    line-height: 36px;
    font-size: 14px;
    font-weight: 500;
    padding-left: 2rem;
}

.footer_blog_link:hover{
    color: #f44336;
}

.footer_blog_date{
    padding-left: 2rem;
    font-size: 12px;
    color: #999;
}

.footer_blog_p{
    padding-left: 2rem;
    max-width: 32rem;
    font-size: 12px;
    color: #7D7C7C;
    line-height: 25px;
    text-align: justify;
    text-justify: inter-word;
}

.footer_blog_more{
    padding-left: 2rem;
    font-size: 12px;
    color: #999;
    text-transform: uppercase;
}

.footer_blog_more:hover{
    color: #f44336;
}

.footer_tweeter{
    width: 100%;
    padding-top: 4rem;
    margin-left: 20px;
}

.footer_tweeter_title{
    font-family: Rhodium Libre;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.footer_tweeter_link{
    font-size: 12px;
}


/* Footer search */

.footer_search{
    background-color: #222;
    margin-right: auto;
    margin-left: auto;
}

.footer_searchbar{
    
}

.fotter_searchbar_box:focus{
    outline: none;
}

.fotter_searchbar_box{
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 42px;
    width: 570px;
}

.fotter_searchbar_box:placeholder-shown{
    color: #7D7C7C;
    font-size: 12px;
    padding-left: 1rem;
}


/* Footer info  */

.footer_info{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1.5fr 1.5fr;
    grid-template-rows: auto;

    justify-content: center;
    padding: 3rem 0rem;
    border-bottom: 1px solid rgba(164, 163, 159, 0.2);
}

.footer_information{
    display: flex;
    flex-direction: column;
}

.footer_information_title,
.footer_customerservice_title,
.footer_myaccount_title,
.footer_aboutus_title,
.footer_logo_title{
    font-family: Rhodium Libre;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}

.footer_information_list,
.footer_customerservice_list,
.footer_myaccount_list{
    margin-top: 1rem;
}

.footer_information_link,
.footer_customerservice_link,
.footer_myaccount_link{
    font-size: 13px;
    font-weight: 300;
    color: #7D7C7C;
    display: block;
    margin-bottom: 1rem;
}

.footer_information_link:hover,
.footer_customerservice_link:hover,
.footer_myaccount_link:hover{
    color: #f44336;
}

.footer_customerservice{
    display: flex;
    flex-direction: column;
}

.footer_myaccount{
    display: flex;
    flex-direction: column;
}

.footer_aboutus{
    display: flex;
    flex-direction: column;    
}

.footer_aboutus_p{
    font-size: 13px;
    font-weight: 300;
    color: #7D7C7C;
    display: block;
    margin-top: 1rem;
    width: 250px;
}

.footer_logo{
    display: flex;
    flex-direction: column;    
}

.footer_logo_img{
    transform: scale(0.9);
}

.footer_Img{
    width: 100%;
}

.footer_logo_title{
    font-size: 12px;
    font-weight: 400;
    margin-top: 0.3rem;
}

.footer_logo_p{
    font-size: 13px;
    font-weight: 300;
    color: #7D7C7C;
    margin-top: 0.5rem;
}

/* Footer support */


.footer_support{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    padding: 3rem 1.5rem;
    grid-gap: 1rem;

    border-bottom: 1px solid rgba(164, 163, 159, 0.2);
}

.footer_support_payment,
.footer_support_delivery,
.footer_support_help{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer_support_payment_logo{

}

.footer_support_payment_p,
.footer_support_delivery_p,
.footer_support_help_p{
    margin-left: 1.5rem;
}

.footer_support_payment_title,
.footer_support_delivery_title,
.footer_support_help_title{
    line-height: 1.1;
    color: #535353;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
}

.footer_support_payment_p__p,
.footer_support_delivery_p__p,
.footer_support_help_p__p{
    color: #666;
    font-size: 12px;
    margin-top: 0.5rem;
    line-height: 22px;
}


.footer_copyright{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem 0rem;
}

.footer_copyright_p{

}

.footer_copyright_p__p{
    color: #666;
    font-size: 12px;
    margin-bottom: 0;
}

.footer_copyright_link{
    font-size: 12px;
    margin-top: 0;
}

.footer_copyright_logo{

}
