*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Poppins";
    src: url("./Fonts/Poppins-Regular.ttf"), format("truetype");
}

body{
    font-family: "Poppins";
    background-color: #f5f5f5;
}

img {
    border-style: none;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

a {
    background-color: transparent;
    text-decoration: none;
    color: inherit;
    margin: 0;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}


.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}




/* Header */

.head_container{
    background-color: #f44336;
}
.header_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.header_top_btn{
    background: #a51515;
    padding: 0.3rem;
}

.header_top_list{

}

.header_top_link{
    margin-left: 0.5rem;
}

.header_top_link:hover{
    color: #000;
}

.header_bottom{
    margin-top: 1rem;
    padding-bottom: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_bottom_searchbar{
    height: 38px;
    width: 500px;
    border: none;
    outline: none;
}

.header_bottom_searchbar:placeholder-shown{
    font-size: 0.8rem;
    padding: 2px 60px 0 15px;
    color: #7D7C7C;
}
.header_bottom_searchbar:focus{
    outline: none;
}

.header_bottom_Rightlogo{
    margin-right: 10rem;
    display: grid;
    grid-template-columns: auto auto;
}

.header_bottom_Rightlogo_p{
    color: #fff;
    font-size: 14px;
    margin-left: 0.5rem;
    text-transform: uppercase;
    font-weight: 600;
}

/* Main */

.categories{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.categories_title{
    background-color: #222;
    color: #fff;
    text-transform: uppercase;
    padding: 12px 150px 10px 30px;
    text-align: left;
    cursor: pointer;
}
.categories_list{
    display: grid;
    grid-template-columns: repeat(6,auto);
    grid-gap: 2rem;

}

.categories_item{
    text-transform: uppercase;
    padding: 0rem 0.5rem;
    font-weight: 600;
    font-size: 12px;
    cursor: pointer;
}

.categories_item:hover{
    color: none;
    color: #f44336;
}

.categories_item:first-child{
    margin-left: 1rem;
}


.baner{
    width: 1520px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    
}

.baner_img{
    margin: 0rem;
}

/* First box */

.firstProductBox{
    border-top: 4px solid #f44336;
    background-color: #fff;
}

.firstProductBox_title{
    color: #f44336;
    font-family: Rhodium Libre;
    grid-area: "title";
    padding: 1.5rem;
}

.firstProductBox_proList{
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
}

.firstProductBox_pro{
    border-top: 1px solid rgba(164, 163, 159, 0.2);
    border-bottom: 1px solid rgba(164, 163, 159, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 300px;

    padding: 0.5rem 1.5rem;
}

.pro1,
.pro2,
.pro3{
    border-right: 1px solid rgba(164, 163, 159, 0.2);
}

.firstProductBox_pro_img{
    margin: 0px;
    max-width: 100%;
}

.firstProductBox_pro_p{
    font-size: 12px;
    font-weight: 800;
}

.firstProductBox_pro_price{
    color: #f44336;
    font-size: 12px;
    font-weight: 600;
    margin-top: 2.5rem;
    align-self: first baseline;
}


/* Second box */

.secProductBox{
    display: flex;
    flex-direction: row;
    background-color: #fff;
    margin-bottom: 2.5rem;
}

.secProductBox_left{
   width: 200px;
   border-top: 3px solid #f44336;

   padding-left: 2rem;
}

.secProductBox_title{
    color: #f44336;
    font-family: Rhodium Libre;
    text-transform: uppercase;
    width: 8.5rem;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    border-bottom: 1px solid #e6e6e6;
    margin-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.secProductBox_list{
    display: flex;
    flex-direction: column;
}

.secProductBox_listLink{
    margin-top: 1.5rem;
    font-size: 13px;
    color: #555;
}

.secProductBox_listLink:hover{
    color: #f44336;
}


.secProductBox_pro{
    display: flex;
    flex-direction: column;
    width: auto;

}

.secProductBox_top{
    display: flex;
}
    

.secProductBox_topPro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 250px;

    overflow: hidden;
    border-top: 1px solid rgba(164, 163, 159, 0.2);
    border-right: 1px solid rgba(164, 163, 159, 0.2);

    padding: 0rem 0.5rem;
}

.topPro1{
    border-left: 1px solid rgba(164, 163, 159, 0.2);
}

.secProductBox_topPro_img{
    max-width: 100%;
    vertical-align: middle;
}

.secProductBox_topPro_p{
    color: #000;
    font-size: 12px;
    font-family: Poppins;
    font-weight: 600;
    text-decoration: none;
    line-height: 20px;
    margin-top: 1rem;
}

.secProductBox_topPro_price{
    color: #f44336;
    font-size: 12px;
    font-weight: 600;
    margin-top: 2.5rem;
    align-self: first baseline;

}

.secProductBox_bottomPro{
    display: flex;
    flex-direction: row;
}

.secProductBox_bottomPro_left{
    width: 500px;
}

.secProductBox_bottomPro_right{
    width: 500px;
}

.secProductBox_bottomPro_leftImg{
    width: 500px;
}

.secProductBox_bottomPro_rightImg{
    width: 500px;
    border-right: 1px solid rgba(164, 163, 159, 0.2);
}


/* Third box  */

.thirdProductBox{
    display: flex;
    flex-direction: row;
    background-color: #fff;
    margin-bottom: 2.5rem;
}

.thirdProductBox_left{
   width: 200px;
   border-top: 3px solid #3f51b5;

   padding-left: 2rem;
}

.thirdProductBox_title{
    color: #3f51b5;
    font-family: Rhodium Libre;
    text-transform: uppercase;
    width: 8.5rem;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    border-bottom: 1px solid #e6e6e6;
    margin-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.thirdProductBox_list{
    display: flex;
    flex-direction: column;
}

.thirdProductBox_listLink{
    margin-top: 1.5rem;
    font-size: 13px;
    color: #555;
}

.thirdProductBox_listLink:hover{
    color: #f44336;
}


.thirdProductBox_pro{
    display: flex;
    flex-direction: column;
    width: auto;

}

.thirdProductBox_top{
    display: flex;
}
    

.thirdProductBox_topPro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 250px;

    overflow: hidden;
    border-top: 1px solid rgba(164, 163, 159, 0.2);
    border-right: 1px solid rgba(164, 163, 159, 0.2);

    padding: 0rem 0.5rem;
}

.topPro1{
    border-left: 1px solid rgba(164, 163, 159, 0.2);
}

.thirdProductBox_topPro_img{
    max-width: 100%;
    vertical-align: middle;
}

.thirdProductBox_topPro_p{
    color: #000;
    font-size: 12px;
    font-family: Poppins;
    font-weight: 600;
    text-decoration: none;
    line-height: 20px;
    margin-top: 1rem;
}

.thirdProductBox_topPro_price{
    color: #f44336;
    font-size: 12px;
    font-weight: 600;
    margin-top: 2.5rem;
    align-self: first baseline;

}

.thirdProductBox_bottomPro{
    display: flex;
    flex-direction: row;
}



.thirdProductBox_bottomProImg{
    width: 1000px;
    height: 280px;
}


/* Fourth box  */

.forthProductBox{
    display: flex;
    flex-direction: row;
    background-color: #fff;
    margin-bottom: 2.5rem;
}

.forthProductBox_left{
   width: 200px;
   border-top: 3px solid #03a9f5;

   padding-left: 2rem;
}

.forthProductBox_title{
    color: #03a9f5;
    font-family: Rhodium Libre;
    text-transform: uppercase;
    width: 8.5rem;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    border-bottom: 1px solid #e6e6e6;
    margin-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.forthProductBox_list{
    display: flex;
    flex-direction: column;
}

.forthProductBox_listLink{
    margin-top: 1.5rem;
    font-size: 13px;
    color: #555;
}

.forthProductBox_listLink:hover{
    color: #f44336;
}


.forthProductBox_pro{
    display: flex;
    flex-direction: column;
    width: auto;

}

.forthProductBox_top{
    display: flex;
}
    

.forthProductBox_topPro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 250px;

    overflow: hidden;
    border-top: 1px solid rgba(164, 163, 159, 0.2);
    border-right: 1px solid rgba(164, 163, 159, 0.2);

    padding: 0rem 0.5rem;
}

.topPro1{
    border-left: 1px solid rgba(164, 163, 159, 0.2);
}

.forthProductBox_topPro_img{
    max-width: 100%;
    vertical-align: middle;
}

.forthProductBox_topPro_p{
    color: #000;
    font-size: 12px;
    font-family: Poppins;
    font-weight: 600;
    text-decoration: none;
    line-height: 20px;
    margin-top: 1rem;
}

.forthProductBox_topPro_price{
    color: #f44336;
    font-size: 12px;
    font-weight: 600;
    margin-top: 2.5rem;
    align-self: first baseline;

}

.forthProductBox_bottomPro{
    display: flex;
    flex-direction: row;
}

.forthProductBox_bottomPro_left{
    width: 500px;
}

.forthProductBox_bottomPro_right{
    width: 500px;
}

.forthProductBox_bottomPro_leftImg{
    width: 500px;
}

.forthProductBox_bottomPro_rightImg{
    width: 500px;
    border-right: 1px solid rgba(164, 163, 159, 0.2);
}


/* Fiveth box */

.fivethProductBox{
    display: flex;
    flex-direction: row;
    background-color: #fff;
    margin-bottom: 2.5rem;
}

.fivethProductBox_left{
   width: 200px;
   border-top: 3px solid #8cc34b;

   padding-left: 2rem;
}

.fivethProductBox_title{
    color: #8cc34b;
    font-family: Rhodium Libre;
    text-transform: uppercase;
    width: 8.5rem;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    border-bottom: 1px solid #e6e6e6;
    margin-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.fivethProductBox_list{
    display: flex;
    flex-direction: column;
    padding-right: 35px;
}

.fivethProductBox_listLink{
    margin-top: 1.5rem;
    font-size: 13px;
    color: #555;
}

.fivethProductBox_listLink:hover{
    color: #f44336;
}


.fivethProductBox_pro{
    display: flex;
    flex-direction: column;
    width: auto;

}

.fivethProductBox_top{
    display: flex;
}
    

.fivethProductBox_topPro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 250px;

    overflow: hidden;
    border-top: 1px solid rgba(164, 163, 159, 0.2);
    border-right: 1px solid rgba(164, 163, 159, 0.2);

    padding: 0rem 0.5rem;
}

.topPro1{
    border-left: 1px solid rgba(164, 163, 159, 0.2);
}

.fivethProductBox_topPro_img{
    max-width: 100%;
    vertical-align: middle;
}

.fivethProductBox_topPro_p{
    color: #000;
    font-size: 12px;
    font-family: Poppins;
    font-weight: 600;
    text-decoration: none;
    line-height: 20px;
    margin-top: 1rem;
}

.fivethProductBox_topPro_price{
    color: #f44336;
    font-size: 12px;
    font-weight: 600;
    margin-top: 2.5rem;
    align-self: first baseline;

}

.fivethProductBox_bottomPro{
    display: flex;
    flex-direction: row;
}



.fivethProductBox_bottomProImg{
    width: 1000px;
    height: 280px;
}