*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Poppins";
    src: url("./Fonts/Poppins-Regular.ttf"), format("truetype");
}

body{
    font-family: "Poppins";
    background-color: #f5f5f5;
}

img {
    border-style: none;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

a {
    background-color: transparent;
    text-decoration: none;
    color: inherit;
    margin: 0;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}


.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}



